<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>controler.admin.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homestayController</servlet-name>
        <servlet-class>controller.homestayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomDetailController</servlet-name>
        <servlet-class>controller.roomDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>handlerBookingController</servlet-name>
        <servlet-class>controller.handlerBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentController</servlet-name>
        <servlet-class>controller.paymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingHistoryController</servlet-name>
        <servlet-class>controller.bookingHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelBookingController</servlet-name>
        <servlet-class>controller.cancelBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordController</servlet-name>
        <servlet-class>controller.changePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeInforUserController</servlet-name>
        <servlet-class>controller.changeInforUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listLikeController</servlet-name>
        <servlet-class>controller.listLikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchRooms</servlet-name>
        <servlet-class>controller.searchRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linkController</servlet-name>
        <servlet-class>controller.linkController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isLikeController</servlet-name>
        <servlet-class>controller.isLikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelLikeController</servlet-name>
        <servlet-class>controller.cancelLikeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sortController</servlet-name>
        <servlet-class>controller.sortController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassController</servlet-name>
        <servlet-class>controller.forgotPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPasswordController</servlet-name>
        <servlet-class>controller.resetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isLikePageSearchController</servlet-name>
        <servlet-class>controller.isLikePageSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListUserController</servlet-name>
        <servlet-class>controler.admin.adminListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListHomestayController</servlet-name>
        <servlet-class>controler.admin.adminListHomestayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>limitRoomAdminController</servlet-name>
        <servlet-class>controler.admin.limitRoomAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activeRoomAdminController</servlet-name>
        <servlet-class>controler.admin.activeRoomAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddNewHomestayController</servlet-name>
        <servlet-class>controler.admin.adminAddNewHomestayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListBookingController</servlet-name>
        <servlet-class>controler.admin.adminListBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminIndividualInfoUserController</servlet-name>
        <servlet-class>controler.admin.adminIndividualInfoUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminListRestoreRoomsController</servlet-name>
        <servlet-class>controler.admin.adminListRestoreRoomsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeRoomAdminController</servlet-name>
        <servlet-class>controler.admin.changeRoomAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminChangeInfoRoomHandlerController</servlet-name>
        <servlet-class>controler.admin.adminChangeInfoRoomHandlerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddUserController</servlet-name>
        <servlet-class>controler.admin.adminAddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteUserController</servlet-name>
        <servlet-class>controler.admin.adminDeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteRoomToRestoreListController</servlet-name>
        <servlet-class>controler.admin.adminDeleteRoomToRestoreListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminRestoreRoomController</servlet-name>
        <servlet-class>controler.admin.adminRestoreRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDeleteRoomFromDatabaseController</servlet-name>
        <servlet-class>controler.admin.adminDeleteRoomFromDatabaseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/indexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homestayController</servlet-name>
        <url-pattern>/homestayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomDetailController</servlet-name>
        <url-pattern>/roomDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>handlerBookingController</servlet-name>
        <url-pattern>/handlerBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentController</servlet-name>
        <url-pattern>/paymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingHistoryController</servlet-name>
        <url-pattern>/bookingHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelBookingController</servlet-name>
        <url-pattern>/cancelBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordController</servlet-name>
        <url-pattern>/changePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeInforUserController</servlet-name>
        <url-pattern>/changeInforUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listLikeController</servlet-name>
        <url-pattern>/listLikeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchRooms</servlet-name>
        <url-pattern>/searchRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linkController</servlet-name>
        <url-pattern>/linkController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isLikeController</servlet-name>
        <url-pattern>/isLikeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelLikeController</servlet-name>
        <url-pattern>/cancelIdLikeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sortController</servlet-name>
        <url-pattern>/sortController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassController</servlet-name>
        <url-pattern>/forgotPassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPasswordController</servlet-name>
        <url-pattern>/resetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isLikePageSearchController</servlet-name>
        <url-pattern>/isLikePageSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListUserController</servlet-name>
        <url-pattern>/adminListUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListHomestayController</servlet-name>
        <url-pattern>/adminListHomestayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>limitRoomAdminController</servlet-name>
        <url-pattern>/limitRoomAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activeRoomAdminController</servlet-name>
        <url-pattern>/activeRoomAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddNewHomestayController</servlet-name>
        <url-pattern>/adminAddNewHomestay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListBookingController</servlet-name>
        <url-pattern>/adminListBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminIndividualInfoUserController</servlet-name>
        <url-pattern>/adminIndividualtInfoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminListRestoreRoomsController</servlet-name>
        <url-pattern>/adminListRestoreRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeRoomAdminController</servlet-name>
        <url-pattern>/changeRoomAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminChangeInfoRoomHandlerController</servlet-name>
        <url-pattern>/adminChangeInfoRoomHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddUserController</servlet-name>
        <url-pattern>/adminAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteUserController</servlet-name>
        <url-pattern>/adminDeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteRoomToRestoreListController</servlet-name>
        <url-pattern>/adminDeleteRoomToRestoreList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminRestoreRoomController</servlet-name>
        <url-pattern>/adminRestoreRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDeleteRoomFromDatabaseController</servlet-name>
        <url-pattern>/adminDeleteRoomFromDatabase</url-pattern>
    </servlet-mapping>
</web-app>
